/* Universal */
html {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: .9;
}

/* Header */

header {
    display: flex;
}

/* Gallery */

.gallery img {
    height: 200px;
    width: 300px;
}

